# files of eth2diff
eth2diff/eth2diff
eth2diff/shared/

# eth2fuzz
eth2fuzz/eth2fuzz
# corpora
eth2fuzz/workspace/corpora/*
# compiled fuzzing targets
workspace/hfuzz/hfuzz_target/*

target/
**/*.rs.bk
Cargo.lock
files/tools/*/bin
.mypy_cache/
