[submodule "eth2fuzz/workspace/lighthouse"]
	path = eth2fuzz/workspace/lighthouse
	url = https://github.com/sigp/lighthouse
[submodule "eth2fuzz/workspace/nim-beacon-chain"]
	path = eth2fuzz/workspace/nim-beacon-chain
	url = https://github.com/status-im/nim-beacon-chain
[submodule "eth2fuzz/workspace/nim-testutils"]
	path = eth2fuzz/workspace/nim-testutils
	url = https://github.com/status-im/nim-testutils
[submodule "eth2fuzz/workspace/gofuzz/src/github.com/prysmaticlabs/prysm"]
	path = eth2fuzz/workspace/gofuzz/src/github.com/prysmaticlabs/prysm
	url = https://github.com/prysmaticlabs/prysm
